<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: Noteworthy;">ATTA!</strong>
          <br><span class="h1_span">無料でトイレを検索できます</span>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="top_button">
          <br>
          <%= link_to "無料で簡単登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "登録しないで探す", toiles_path, class: "button is-warning2 is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>

</section>
